[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
pre-commit = "*"
black = "==19.10b0"
responses = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
